@font-face {
    font-family: Montserrat-Bold;
    src: url('../res/font/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../res/font/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../src/res/font/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-semi-bold;
    src: url('../res/font/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: open-sens-regular;
    src: url('../res/font/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: open-sens-bold;
    src: url('../res/font/open-sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: open-sens-semi-bold;
    src: url('../res/font/open-sans/OpenSans-SemiBold.ttf');
}

/* Navigation */
body {
    background-color: #F9FAFB;
    font-family: Montserrat-regular;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.nav {
    overflow: hidden;
    height: 80px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 48px;
    width: 48px;
}

.logo-name {
    font-size: 24px;
    font-family: Montserrat-Bold;
    color: #212121;
}

ul {
    font-family: open-sens-regular;
    font-size: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li a {
    display: block;
    color: #212121;
    text-align: center;
    text-decoration: none;
}

ul li {
    padding: 14px 20px;
}

ul li a:hover {
    color: #D32F2F;
    transition: 0.3s;
}

.green-btn {
    font-family: open-sens-semi-bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #388E3C;
}

.green-btn:hover {
    background-color: #2E7D32;
    display: flex;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.cart-number {
    position: absolute;
    top: 0px;
    right: 155px;
    background-color: #F57C00;
    color: #FFFFFF;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    font-family: open-sens-regular;
    align-items: center;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #212121;
}

/* Footer */
.footer-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: #FFFFFF;

}

footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.txt-logo span{
    font-family: Montserrat-Bold;
    font-size: 20px;
    color: #FFFFFF;
}
.footer {
    width: 272px;
    justify-items: left;
    padding: 25px;
}
.footer ul {
    display: flex;
    flex-direction: column;
    color: #9CA3AF;
    text-align-last: left;
}
.footer ul li {
    padding: 2px 0;
    color: #9CA3AF;
}
.footer ul li a {
    color: #9CA3AF;
    text-decoration: none;
    font-family: open-sens-regular;
    font-size: 16px;
}
.footer ul li a:hover {
    color: #FFFFFF;
    transition: 0.3s;  
}
.footer h3 {
    font-family: Montserrat-semi-bold;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 10px;
}   
.txt-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.txt-logo img{
    height: 40px;
    width: 40px;
}
.desc {
    margin-top: 20px;
    font-family: open-sens-regular;
    font-size: 16px;
    color: #9CA3AF;
}