.home-page {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #ced4da;
  }
  
  .home-page .body {
    position: relative;
    width: 1440px;
    height: 3017px;
    border: 0px none;
  }
  
  .home-page .section {
    position: absolute;
    top: 80px;
    left: 0;
    width: 1440px;
    height: 600px;
    border: 0px none;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.4) 100%
    );
  }
  
  .home-page .div {
    position: absolute;
    top: 152px;
    left: 360px;
    width: 720px;
    height: 297px;
    display: flex;
    border: 0px none;
  }
  
  .home-page .div-2 {
    width: 672px;
    height: 297px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    border: 0px none;
  }
  
  .home-page .authentic-flavors {
    width: 561px;
    height: 133px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 60px;
    letter-spacing: 0;
    line-height: 60px;
  }
  
  .home-page .text-wrapper {
    color: #ffffff;
  }
  
  .home-page .span {
    color: #f57c00;
  }
  
  .home-page .p {
    width: 616px;
    height: 65px;
    margin-top: 11px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffffe6;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 33px;
  }
  
  .home-page .div-3 {
    width: 672px;
    margin-top: 32px;
    display: flex;
    gap: 16px;
    border: 0px none;
  }
  
  .home-page .button {
    all: unset;
    box-sizing: border-box;
    width: 179.86px;
    height: 56px;
    display: flex;
    gap: 8px;
    background-color: #d32f2f;
    border-radius: 8px;
    border: 0px none;
  }
  
  .home-page .i {
    margin-top: 16px;
    width: 18px;
    height: 24px;
    margin-left: 32px;
    display: flex;
    border: 0px none;
  }
  
  .home-page .svg {
    display: flex;
    margin-top: 3px;
    width: 18px;
    height: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .home-page .frame {
    position: relative;
    width: 17.85px;
    height: 16px;
    border: 0px none;
    background-image: url(./img/vector.svg);
    background-size: 100% 100%;
  }
  
  .home-page .text-wrapper-2 {
    margin-top: 18px;
    width: 95px;
    height: 24px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .button-2 {
    all: unset;
    box-sizing: border-box;
    width: 214.77px;
    height: 56px;
    display: flex;
    gap: 8px;
    background-color: #388e3c;
    border-radius: 8px;
    border: 0px none;
  }
  
  .home-page .svg-wrapper {
    margin-top: 16px;
    width: 14px;
    height: 24px;
    margin-left: 32px;
    display: flex;
    border: 0px none;
  }
  
  .home-page .frame-wrapper {
    margin-top: 3px;
    width: 14px;
    height: 16px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .home-page .frame-2 {
    position: relative;
    width: 14px;
    height: 16px;
    border: 0px none;
    background-image: url(./img/vector-3.svg);
    background-size: 100% 100%;
  }
  
  .home-page .text-wrapper-3 {
    margin-top: 18px;
    width: 134px;
    height: 24px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 600px;
    object-fit: cover;
  }
  
  .home-page .div-wrapper {
    top: 680px;
    height: 780px;
    background-color: #f9fafb;
    position: absolute;
    left: 0;
    width: 1440px;
    display: flex;
    border: 0px none;
  }
  
  .home-page .div-4 {
    margin-top: 80px;
    width: 1280px;
    height: 620px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    border: 0px none;
  }
  
  .home-page .div-5 {
    margin-left: 24px;
    width: 1232px;
    height: 112px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 0px none;
  }
  
  .home-page .text-wrapper-4 {
    margin-left: 462.6px;
    width: 312px;
    height: 44px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #212121;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 40px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-5 {
    margin-left: 282.4px;
    width: 668px;
    height: 56px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .home-page .div-6 {
    margin-left: 24px;
    width: 1232px;
    display: flex;
    gap: 32px;
    border: 0px none;
  }
  
  .home-page .div-7 {
    width: 389.33px;
    height: 444px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    border: 0px none;
    box-shadow: 0px 10px 15px #0000001a, 0px 4px 6px #0000001a;
  }
  
  .home-page .img-2 {
    width: 389.33px;
    height: 256px;
    object-fit: cover;
  }
  
  .home-page .div-8 {
    height: 188px;
    display: flex;
    flex-direction: column;
    border: 0px none;
  }
  
  .home-page .text-wrapper-6 {
    margin-left: 24px;
    width: 243px;
    height: 28px;
    margin-top: 24px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #212121;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-7 {
    margin-left: 24px;
    width: 332px;
    height: 48px;
    margin-top: 8px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .home-page .div-9 {
    margin-left: 24px;
    width: 341.33px;
    margin-top: 16px;
    display: flex;
    gap: 159.8px;
    border: 0px none;
  }
  
  .home-page .text-wrapper-8 {
    margin-top: 4px;
    width: 46px;
    height: 32px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #d32f2f;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .home-page .button-3 {
    all: unset;
    box-sizing: border-box;
    width: 135.56px;
    height: 40px;
    display: flex;
    background-color: #f57c00;
    border-radius: 8px;
    border: 0px none;
  }
  
  .home-page .text-wrapper-9 {
    margin-top: 9px;
    width: 93px;
    height: 24px;
    margin-left: 24px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .text-wrapper-10 {
    margin-left: 24px;
    width: 236px;
    height: 28px;
    margin-top: 24px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #212121;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-11 {
    margin-left: 24px;
    width: 334px;
    height: 48px;
    margin-top: 8px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .home-page .div-10 {
    margin-left: 24px;
    width: 341.33px;
    margin-top: 16px;
    display: flex;
    gap: 158.8px;
    border: 0px none;
  }
  
  .home-page .text-wrapper-12 {
    width: 47px;
    margin-top: 4px;
    height: 32px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #d32f2f;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .home-page .div-11 {
    width: 389.34px;
    height: 444px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    border: 0px none;
    box-shadow: 0px 10px 15px #0000001a, 0px 4px 6px #0000001a;
  }
  
  .home-page .img-3 {
    width: 389.34px;
    height: 256px;
    object-fit: cover;
  }
  
  .home-page .text-wrapper-13 {
    margin-left: 24px;
    width: 162px;
    height: 28px;
    margin-top: 24px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #212121;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-14 {
    margin-left: 24px;
    width: 321px;
    height: 48px;
    margin-top: 8px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .home-page .div-12 {
    margin-left: 24px;
    width: 341.34px;
    margin-top: 16px;
    display: flex;
    gap: 160.8px;
    border: 0px none;
  }
  
  .home-page .text-wrapper-15 {
    width: 45px;
    margin-top: 4px;
    height: 32px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #d32f2f;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .home-page .section-2 {
    top: 1460px;
    height: 544px;
    position: absolute;
    left: 0;
    width: 1440px;
    display: flex;
    border: 0px none;
  }
  
  .home-page .div-13 {
    margin-top: 80px;
    width: 1280px;
    margin-left: 80px;
    display: flex;
    border: 0px none;
  }
  
  .home-page .div-14 {
    width: 1232px;
    margin-left: 24px;
    display: flex;
    gap: 48px;
    border: 0px none;
  }
  
  .home-page .div-15 {
    margin-top: 5.6px;
    width: 592px;
    height: 372.75px;
    display: flex;
    flex-direction: column;
    border: 0px none;
  }
  
  .home-page .text-wrapper-16 {
    width: 185px;
    height: 44px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #212121;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 40px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-17 {
    width: 575px;
    height: 117px;
    margin-top: 20px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .home-page .text-wrapper-18 {
    width: 578px;
    height: 87.75px;
    margin-top: 24px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .home-page .button-4 {
    all: unset;
    box-sizing: border-box;
    width: 237.7px;
    height: 48px;
    margin-top: 32px;
    display: flex;
    background-color: #388e3c;
    border-radius: 8px;
    border: 0px none;
  }
  
  .home-page .text-wrapper-19 {
    margin-top: 14px;
    width: 179px;
    height: 24px;
    margin-left: 32px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .img-wrapper {
    width: 592px;
    height: 384px;
    display: flex;
    border: 0px none;
  }
  
  .home-page .img-4 {
    margin-top: -5px;
    width: 622px;
    height: 414px;
    margin-left: -15px;
    object-fit: cover;
  }
  
  .home-page .section-3 {
    top: 2004px;
    height: 600px;
    background-color: #f9fafb;
    position: absolute;
    left: 0;
    width: 1440px;
    display: flex;
    border: 0px none;
  }
  
  .home-page .div-16 {
    margin-top: 80px;
    width: 1280px;
    height: 440px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    border: 0px none;
  }
  
  .home-page .text-wrapper-20 {
    margin-left: 471.5px;
    width: 294px;
    height: 44px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #212121;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 40px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-21 {
    margin-left: 280.2px;
    width: 672px;
    height: 56px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .home-page .div-17 {
    width: 389.33px;
    height: 264px;
    position: relative;
    border: 0px none;
  }
  
  .home-page .img-5 {
    position: absolute;
    top: -5px;
    left: 116px;
    width: 158px;
    height: 158px;
    object-fit: cover;
  }
  
  .home-page .text-wrapper-22 {
    position: absolute;
    top: 144px;
    left: 96px;
    width: 203px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #212121;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-23 {
    position: absolute;
    top: 180px;
    left: 155px;
    width: 85px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #f57c00;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-24 {
    position: absolute;
    top: 216px;
    left: 18px;
    width: 359px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .home-page .text-wrapper-25 {
    position: absolute;
    top: 144px;
    left: 99px;
    width: 197px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #212121;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-26 {
    position: absolute;
    top: 180px;
    left: 157px;
    width: 81px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #f57c00;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-27 {
    position: absolute;
    top: 216px;
    left: 29px;
    width: 337px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .home-page .div-18 {
    width: 389.34px;
    height: 264px;
    position: relative;
    border: 0px none;
  }
  
  .home-page .text-wrapper-28 {
    position: absolute;
    top: 144px;
    left: 107px;
    width: 181px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #212121;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-29 {
    position: absolute;
    top: 180px;
    left: 116px;
    width: 164px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #f57c00;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-30 {
    position: absolute;
    top: 216px;
    left: 41px;
    width: 375px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .home-page .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 80px;
    display: flex;
    background-color: #ffffff;
    border: 0px none;
    box-shadow: 0px 4px 6px #0000001a, 0px 2px 4px #0000001a;
  }
  
  .home-page .div-19 {
    width: 1280px;
    height: 80px;
    margin-left: 80px;
    display: flex;
    border: 0px none;
  }
  
  .home-page .div-20 {
    margin-top: 16px;
    width: 1232px;
    margin-left: 24px;
    display: flex;
    gap: 247.4px;
    border: 0px none;
  }
  
  .home-page .div-21 {
    width: 192.12px;
    display: flex;
    gap: 12px;
    border: 0px none;
  }
  
  .home-page .div-22 {
    width: 48px;
    height: 48px;
  }
  
  .home-page .text-wrapper-31 {
    margin-top: 8px;
    width: 133px;
    height: 32px;
    color: #212121;
    font-size: 24px;
    line-height: 32px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home-page .nav {
    margin-top: 12px;
    width: 351.27px;
    display: flex;
    border: 0px none;
  }
  
  .home-page .text-wrapper-32 {
    width: 59px;
    height: 24px;
    margin-left: 0.4px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #d32f2f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-33 {
    width: 46px;
    height: 24px;
    margin-left: 18px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #212121;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-34 {
    width: 45px;
    height: 24px;
    margin-left: 31px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-35 {
    width: 102px;
    height: 24px;
    margin-left: 31px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #212121;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-36 {
    width: 58px;
    margin-left: 31px;
    color: #212121;
    height: 24px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .home-page .div-23 {
    margin-top: 4px;
    width: 193.73px;
    display: flex;
    gap: 16px;
    border: 0px none;
  }
  
  .home-page .button-5 {
    all: unset;
    box-sizing: border-box;
    margin-top: 6px;
    width: 22.5px;
    height: 28px;
    position: relative;
    border: 0px none;
  }
  
  .home-page .i-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 27px;
    display: flex;
    border: 0px none;
  }
  
  .home-page .svg-2 {
    margin-top: 3.5px;
    width: 22.5px;
    height: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .home-page .frame-3 {
    position: relative;
    width: 22.31px;
    height: 20px;
    border: 0px none;
    background-image: url(./img/vector-5.svg);
    background-size: 100% 100%;
  }
  
  .home-page .span-2 {
    position: absolute;
    top: -8px;
    left: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    background-color: #f57c00;
    border-radius: 9999px;
    border: 0px none;
  }
  
  .home-page .text-wrapper-37 {
    margin-top: 1px;
    width: 12px;
    height: 17px;
    margin-left: 6.6px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .button-6 {
    all: unset;
    box-sizing: border-box;
    width: 155.23px;
    height: 40px;
    display: flex;
    background-color: #388e3c;
    border-radius: 8px;
    border: 0px none;
  }
  
  .home-page .text-wrapper-38 {
    margin-top: 9px;
    width: 113px;
    height: 24px;
    margin-left: 24px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .footer {
    position: absolute;
    top: 2600px;
    left: 0;
    width: 1440px;
    height: 417px;
    display: flex;
    background-color: #212121;
    border: 0px none;
  }
  
  .home-page .div-24 {
    margin-top: 64px;
    width: 1280px;
    height: 289px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    border: 0px none;
  }
  
  .home-page .div-25 {
    width: 272px;
    height: 184px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 0px none;
  }
  
  .home-page .div-26 {
    width: 272px;
    display: flex;
    gap: 12px;
    border: 0px none;
  }
  
  .home-page .i-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: #d32f2f;
    border-radius: 9999px;
    border: 0px none;
  }
  
  .home-page .i-3 {
    margin-top: 8px;
    width: 14px;
    height: 24px;
    margin-left: 13px;
    display: flex;
    border: 0px none;
  }
  
  .home-page .svg-3 {
    margin-top: 4px;
    width: 14px;
    height: 16px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .home-page .frame-4 {
    position: relative;
    width: 14px;
    height: 16px;
    border: 0px none;
    background-image: url(./img/image.svg);
    background-size: 100% 100%;
  }
  
  .home-page .text-wrapper-39 {
    margin-top: 6px;
    width: 111px;
    height: 28px;
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-40 {
    width: 269px;
    height: 52px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #cccccc;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
  }
  
  .home-page .text-wrapper-41 {
    width: 114px;
    height: 28px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .home-page .ul {
    height: 132px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 0px none;
  }
  
  .home-page .li {
    width: 272px;
    display: flex;
    border: 0px none;
  }
  
  .home-page .text-wrapper-42 {
    margin-top: 1px;
    width: 46px;
    color: #9ca3af;
    height: 24px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-43 {
    margin-top: 1px;
    width: 43px;
    height: 24px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #9ca3af;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-44 {
    margin-top: 1px;
    width: 96px;
    height: 24px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #9ca3af;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .home-page .text-wrapper-45 {
    width: 120px;
    height: 28px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .home-page .div-27 {
    height: 96px;
    position: relative;
    border: 0px none;
  }
  
  .home-page .text-wrapper-46 {
    position: absolute;
    top: 0;
    left: 24px;
    width: 225px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #9ca3af;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .home-page .frame-5 {
    display: flex;
    width: 12px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4px;
    left: 0;
  }
  
  .home-page .frame-6 {
    position: relative;
    width: 12px;
    height: 15.96px;
    border: 0px none;
    background-image: url(./img/vector-4.svg);
    background-size: 100% 100%;
  }
  
  .home-page .text-wrapper-47 {
    position: absolute;
    top: 36px;
    left: 28px;
    width: 116px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #9ca3af;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .home-page .frame-7 {
    display: flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 0;
  }
  
  .home-page .frame-8 {
    position: relative;
    width: 16px;
    height: 16px;
    border: 0px none;
    background-image: url(./img/vector-6.svg);
    background-size: 100% 100%;
  }
  
  .home-page .text-wrapper-48 {
    position: absolute;
    top: 72px;
    left: 28px;
    width: 163px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #9ca3af;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .home-page .frame-9 {
    display: flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 76px;
    left: 0;
  }
  
  .home-page .vector-wrapper {
    position: relative;
    width: 16px;
    height: 16px;
    border: 0px none;
  }
  
  .home-page .vector {
    position: absolute;
    width: 100%;
    height: 75.00%;
    top: 12.50%;
    left: 0;
  }
  
  .home-page .text-wrapper-49 {
    width: 95px;
    height: 28px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .home-page .div-28 {
    width: 272px;
    height: 40px;
  }
  
  .home-page .div-29 {
    margin-left: 24px;
    width: 1232px;
    height: 57px;
    display: flex;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #374151;
  }
  
  .home-page .text-wrapper-50 {
    margin-top: 33px;
    width: 373px;
    height: 24px;
    margin-left: 432.3px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #9ca3af;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  